.login-formCentro{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.wrapperCentro{
    width: 420px;
    height: 650px;
    border: 2px solid rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: start;
    /* align-items: start; */
    overflow: hidden;
    transition: height .2s ease;
}

.wrapperCentro .form-box-loginCentro{
    width: 100%;
    padding: 40px;
}


.btn-submit-centro {
  margin-top: 170px;
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
}

.btn-submit-centro:hover {
  background-color: #0056b3; 
}


.btn-submit-Vet{
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px;
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
}


.btn-submit-Vet:hover {
  background-color: #0056b3; 
}
